<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizuoyang.springboot.mapper.OrderConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lizuoyang.springboot.entity.OrderConfigDO">
        <id column="id" property="id" />
        <result column="pay_timeout" property="payTimeout" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pay_timeout
    </sql>

</mapper>
